@model Blog.Models.BlogPost

@{
    ViewData["Title"] = "Delete Blog Post";
}

<h2>Are you sure you want to delete this post?</h2>

<div>
    <h3>@Model.Title</h3>
    <p>@Model.Description</p>
    <small><strong>Author:</strong> @Model.Author | <strong>Date:</strong> @Model.Date.ToShortDateString()</small>
</div>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger mt-3">Delete</button> @**@
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancel</a> @*return back to index*@
</form>