@{
    ViewData["Title"] = "Blog Index";
}

@model List<Blog.Models.BlogPost>

<h2>Blog Posts</h2>
<a class="btn btn-success mb-3" asp-controller="Blog" asp-action="Create">+ Create New Post</a>
@foreach(var post in Model) {
    <div class="mb-4">
        <h3>@post.Title</h3>
        <p>@post.Description</p>
        <small><strong>Author:</strong> @post.Author | <strong>Date:</strong>@post.Date.ToShortDateString()</small>@*converts DateTime object value to short date string representation*@
        <div class="mt-2">
            <a class="btn btn-warning btn-sm" asp-controller="Blog" asp-action="Edit" asp-route-id="@post.Id"> Edit</a> 
            <a class="btn btn-warning btn-sm" asp-controller="Blog" asp-action="Delete" asp-route-id="@post.Id"> Delete</a>
        </div>
        <hr/>
    </div>
}